{% extends "base.html" %}
{% block page_title %}
문제 생성
{% endblock page_title %}
{% block content %}
<!-- Main Content -->
<div id="content">
   <!-- Topbar -->
   {% include "topbar.html" %}
   <!-- End of Topbar -->
   <!-- Begin Page Content -->
   <div class="container-fluid">
      <h1>문제 풀이</h1>
      <div class="card shadow mb-4">
         <div class="card-body">
            <div class="form-group row">
               <div class="col-sm-6 mb-3 mb-sm-0">
                  문제 명
                  <div class="form-outline">
                     <div class="card text-center">
                        <div class="card-body" style="text-align: left;">{{ question.question_title }}</div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  난이도
                  <div class="form-outline">
                     <div class="card text-center">
                        <div class="card-body" style="text-align: left;">{{ question.question_level }}</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div>문제 설명</div>
               <div class="form-outline">
                  <div class="card text-center">
                     <div class="card-body">
                        <pre class="card-text" style="text-align: left;">
{{ question.question_text }}</pre>
                     </div>
                  </div>
               </div>
            </div>
            풀이
            <div class="form-group row">
               <div class="col-sm-9 mb-3 mb-sm-0">
                  <div class="form-outline">
                     <textarea class="form-control" id="question_code" rows="4" style="resize: none; height : 700px;">
from collections import deque

m, n = map(int, input().split())
matrix = [list(map(int, input().split())) for _ in range(n)]
queue = deque([])
dx, dy = [-1, 1, 0, 0], [0, 0, -1, 1]
res = 0

for i in range(n):
      for j in range(m):
         if matrix[i][j] == 1:
            queue.append([i, j])

def bfs():
      while queue:
         x, y = queue.popleft()
         for i in range(4):
            nx, ny = dx[i] + x, dy[i] + y
            if 0 <= nx < n and 0 <= ny < m and matrix[nx][ny] == 0:
                  matrix[nx][ny] = matrix[x][y] + 1
                  queue.append([nx, ny])

bfs()
for i in matrix:
      for j in i:
         if j == 0:
            print(-1)
            exit(0)
      res = max(res, max(i))
print(res - 1)
                     </textarea>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="form-outline">
                     <div class="card text-center">
                        <div class="card-body" style="text-align: left;">
                           <pre class="card-text" style="text-align: left;">테스트 출력값입니다</pre>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-sm-6">
                  <button type="button" class="btn badge-warning" id="excuteButton" pys-onClick="excute_question">코드실행</button>
               </div>
               <div class="col-sm-6">
                  <button type="button" class="btn badge-warning" id="scoringButton">문제 제출 및 채점</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<py-env>
   - paths:
     - /static/python/utils.py
 </py-env>
<py-script>
   from js import document, window 
   import asyncio  
   import json
   from utils import request
   
   async def excute_question(e):

      question_code = document.getElementById("question_code").value
      body = json.dumps({"question_code": question_code, "question_seq": 4,})

      data = await request("http://{{request.get_host}}" + "/question/submit", body=body, method="POST")
      result_json = await data.json()           
      window.alert(f"{result_json['data']} 점")

   </py-script>
{% endblock content %}