{% extends "base.html" %}
{% block page_title %}
  문제 생성
{% endblock page_title %}

{% block content %}
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    {% include "topbar.html" %}
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

      <h1>문제 생성</h1>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div>문제 사용 언어 선택</div>
          <br>
          <div class="form-group row">
            <div class="col-sm-4">
              <input class="" type="radio" name="inlineRadioOptions" id="question_lang_python" checked value="Python"/>
              <label class="" for="inlineRadio1">Python</label>
            </div>
            <div class="col-sm-4">
              <input class="" type="radio" name="inlineRadioOptions" id="question_lang" value="C" disabled="disabled"/>
              <label class="" for="inlineRadio1">C</label>
            </div>
            <div class="col-sm-4">
              <input class="" type="radio" name="inlineRadioOptions" id="question_lang" value="Java" disabled="disabled"/>
              <label class="" for="inlineRadio1">Java</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="question_title" placeholder="문제명을 입력해주세요">
            </div>
            <div class="col-sm-3">              
            <select class="selectpicker" id= "question_level">
               <option id="high">상</option>
               <option id="middle">중</option>
               <option id="row">하</option>
            </select>

            </div>
            <div class="col-sm-3">
              <button type="button" class="btn badge-warning" id="btn_submit_question" pys-onClick="create_question">문제 제출</button>
            </div>
          </div>
          <div class="form-group">
            <div>문제 설명</div>
            <br>
            <div class="form-outline">
              <textarea class="form-control" id="question_text" rows="4"></textarea>
            </div>
          </div>
         <div class="form-group">
            <py-repl auto-generate="false" id ="code-area" > </py-repl>
            
            <div class="form-group row">
              <div class="col-sm-2">
                <button type="button" class="btn  badge-warning">문법 확인</button>
              </div>
            </div>
            <div class="form-outline">
              <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div>테스트 케이스</div>
            <br>
              <ul id="items"></ul>
          </div>
          <!-- 테스트 케이스 3 -->

          <!-- end -->

          <div class="form-group row">
            <div class="col-sm-11 mb-3 mb-sm-0"></div>
            <div class="col-sm-1" style="margin-left:auto;">
              <button type="button" class="btn badge badge-warning" id="add_btn" pys-onclick="add_tc">
                +
              </button>
              <button type="button" class="btn badge badge-warning" id="remove_btn" pys-onclick="remove_tc">
                -
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <template id="task-template">
    <div>테스트 케이스 (정답)</div>
    <div class="task form-group row">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <div class="form-group row">
          <div class="col-sm-2">입력값 :</div>
          <div class="col-sm-10">
            <input type="text" required class="testcase_input form-control form-control-user" placeholder="입력값">
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <div class="col-sm-2">출력값 :</div>
          <div class="col-sm-10">
            <input type="text" required class="testcase_output form-control form-control-user"  placeholder="출력값">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-check form-switch">
          <input class="testcase_open_yn form-check-input" type="checkbox" role="switch"/>
          <label class="form-check-label" for="">테스트케이스 공개</label>
        </div>
      </div>
    </div>

  </template>

  <script defer="defer" src="https://pyscript.net/alpha/pyscript.js"></script>
  <py-env>
    - paths:
      - /static/python/utils.py
      - /static/python/utile.py
  </py-env>
  <!-- pyscript -->
  <py-script style='display:none;'>
    from js import document, window 
    import asyncio, json, datetime
    from utile import *

    tasks = []
    task_list = Element("items")
    template = Element("task-template").select(".task", from_content=True)


    async def create_question(*args):

      json_data = {
         'question_title' : '',
         'question_level' : '',
         'question_lang' : '',
         'question_text' :  '',
         'question_code' : '',
         'testcase_list' : []
      }

      json_data['question_title'] = document.getElementById("question_title").value
      json_data['question_level'] = document.querySelector("#question_level").value
      if document.querySelector("#question_lang_python").checked :
          json_data['question_lang'] = 'Python'
      json_data['question_text'] = document.getElementById("question_text").value
      json_data['question_code'] = parse_code(Element("code-area"))

      tc_input_list = []
      tc_output_list = []
      testcase_open_yn = []

      tc_input_list = document.querySelectorAll(".testcase_input")
      tc_output_list = document.querySelectorAll(".testcase_output")
      tc_open_yn_list = document.querySelectorAll(".testcase_open_yn")

      for i in range(len(tc_input_list)):
         if tc_open_yn_list[i].checked:
            yn = 'Y'
         else:
            yn = 'N'
         json_data['testcase_list'].append(
            { 
               'testcase_input' : tc_input_list[i].value,
               'testcase_output' : tc_output_list[i].value,
               'testcase_open_yn' : yn
            }
         )

      body = json.dumps(json_data)
      data = await request("http://{{request.get_host}}" + "/question/create", body=body, method="POST")
      result_json = await data.json()           
      window.alert(result_json)


    def add_tc(*args):
      todo_id = f"todo-{len(tasks)}"
      todo = {
            "id": todo_id,
      }

      tasks.append(todo)
      task_html = template.clone(todo_id, to=task_list)
      task_list.element.appendChild(task_html.element)


    def remove_tc(*args):
      if(len(task_list.element.childNodes) > 1):
          task_list.element.childNodes[-1].remove()

    add_tc()
  </py-script>

  <!-- End of Main Content -->
{% endblock content %}