{% extends "base.html" %}
{% block page_title %}
    문제목록
{% endblock page_title %}
{% block content %}
    <!-- Main Content -->
    <div id="content">


    <!-- Topbar -->
        {% include "topbar.html" %}
        <!-- End of Topbar -->
        <div class="container-fluid">

          <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">자료실</h1>
            <p class="mb-4">파이썬 공부에 도움이 되는 사이트 목록</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3"></div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr class="text-center">
                        <th>번호</th>
                        <th>구분</th>
                        <th>내용</th>
                        <th>등록일</th>
                        <th>조회수</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for board in board_list %}
                      <tr>
                        <td>{{board.board_seq}}</td>
                        <td>{{board.board_division}}</td>
                        <td>
                          <a href="{{board.board_link}}">{{board.board_title}}</a>
                        </td>
                        <td>{{board.created_at}}</td>
                        <td>{{board.board_view_count}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="row g-0 align-items-center pb-4">
                    <div class="col-sm-10">
                      <div class="">
                        <ul class="pagination mb-sm-0">
                          {% for i in board_list.paginator.page_range %}
                          <li class="page-item">
                            <a href="?page={{i}}" class="page-link badge-warning">{{i}}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
    <!-- End of Main Content -->
{% endblock content %}
