{% extends "base.html" %}
{% block page_title %}
    글쓰기
{% endblock page_title %}
{% block content %}
    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        {% include "topbar.html" %}
        <!-- End of Topbar -->

        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">게시판 글쓰기</h6>
                        </div>
                        <div class="card-body">
                                <div class = "row">
                                    <div class = "col-sm-9">
                                        <input type="text"
                                               class="form-control form-control-user"
                                               id="board_title"
                                               placeholder="제목">
                                    </div>
                                    <div class = "col-sm-3">
                                        <select class="selectpicker" id="board_division">
                                            <option id="division">구분</option>
                                            <option id="video">영상</option>
                                            <option id="blog">블로그</option>
                                        </select>
                                    </div>
                                    <div class = "col-sm-12 mb-4">
                                        <input type="text"
                                               class="form-control form-control-user"
                                               id="board_link"
                                               placeholder="링크">
                                    </div>
                                    <div class = "col-sm-12">
                                        <button class="btn btn-primary btn-user btn-block" id="submit_btn" pys-onclick="submit">제출</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->

  <py-env>
    - paths:
      - /static/python/util.py
  </py-env>
  <!-- pyscript -->
  <py-script style='display:none;'>
    from js import document, window
    import js
    import asyncio, json, datetime
    from util import *


    async def submit(*args):
        json_data = {
            'board_title' : '',
            'board_division' : '',
            'board_link' : ''
            }

        json_data['board_title'] = document.getElementById('board_title').value
        json_data['board_division'] = document.querySelector("#board_division").value
        json_data['board_link'] = document.getElementById('board_link').value

        

        # 유효성 검사
        if len(json_data['board_title']) == 0:
            window.alert("제목을 작성해주세요!")
            return

        if json_data['board_division'] == '구분':
            window.alert("게시물 유형을 선택해주세요!")
            return

        if len(json_data['board_link']) == 0:
            window.alert("게시물 링크를 작성해주세요!")
            return

        print(json_data)

        body = json.dumps(json_data)
        print(body)
        data = await request("http://{{request.get_host}}" + "/board/create", body=body, method="POST")
        result_json = await data.json()         

        if result_json["flag"]:
            window.alert("게시물이 등록되었습니다.")
            document.location.href='/board/list'
        else:
            window.alert(result_json)

</py-script>


{% endblock content %}