{% load static i18n %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PPL<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="overviewMenu">
        <a class="nav-link" href="/overview">
            <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Overview</span></a>
    </li>

            <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
        <div class="sidebar-heading">
                practice lab
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" id="dashboardwMenu">
                <a class="nav-link collapsed" href="/dashboard" data-toggle="collapse" data-target="#collapseDashboard"
                    aria-expanded="true" aria-controls="collapseDashboard">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>대시보드</span>
                </a>
                <div id="collapseDashboard" class="collapse" aria-labelledby="headingUtilities"
                data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">대시보드</a>
                    </div>
            </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item" id="questionMenu">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQuestion"
                    aria-expanded="true" aria-controls="collapseQuestion">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>문제</span>
                </a>
                <div id="collapseQuestion" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Question</h6>
                        <a class="collapse-item" href="/question/create">문제 생성</a>
                        <a class="collapse-item" href="/question/list">문제 목록</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                study more
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" id="boardMenu">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBoard"
                    aria-expanded="true" aria-controls="collapseBoard">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>게시판</span>
                </a>
                <div id="collapseBoard" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Board</h6>
                        <a class="collapse-item" href="/board/list">글 목록</a>
                        <a class="collapse-item" href="/board/create">글쓰기</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <py-script style="display:none;">
            if "{{request.path}}".startswith("/question"):
                menu = Element("questionMenu")
                menu.add_class('active')
            elif "{{request.path}}".startswith("/board"):
                menu = Element("boardMenu")
                menu.add_class('active')
            elif "{{request.path}}".startswith("/overview"):
                menu = Element("overviewMenu")
                menu.add_class('active')
            elif "{{request.path}}".startswith("/dashboard"):
                menu = Element("dashboardMenu")
                menu.add_class('active')
                
        </py-script>