{% extends "base.html" %}
{% block page_title %}
    dashboard
{% endblock page_title %}
{% block content %}
    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
        {% include "topbar.html" %}
        <!-- End of Topbar -->
        <div class="container-fluid">

            <h2>Dashboard</h2>
                <div class="card-header py-3">
                        <div class="card-body ">
                           <div class="row align-items-center ml-5">
                                        <div class="card mb-4 mt-5 py-3 col-3">
                                            <div class="card-body">
                                                해결한 문제
                                                <a href="#" class="btn btn-success btn-circle btn-lg">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">N개</div>
                                            </div>
                                        </div>

                                        <div class="card mb-4 mt-5 py-3 col-4 ml-3">
                                            <div class="card-body">
                                                    현재 랭킹
                                                    <a href="#" class="btn btn-info btn-circle btn-lg">
                                                        <i class="fa-solid fa-ranking-star"></i>
                                                    </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">N위</div>

                                            </div>
                                        </div>

                                        <div class="card mb-4 mt-5 py-3 col-4 ml-3">
                                            <div class="card-body">
                                                    평균 문제 풀이 시간
                                                    <a href="#" class="btn btn-secondary btn-circle btn-lg">
                                                        <i class="fa-regular fa-clock"></i>
                                                    </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">______분</div>

                                            </div>
                                        </div>


                                    <div class="container">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <div class="card shadow mb-4 col-12">
                                        <div class="card-header py-3">최근 해결한 문제</div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th>문제</th>
                                                        <th>출제자</th>
                                                        <th>해결 시간</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td><a href="https://www.naver.com">문제 A</a></td>
                                                        <td>박OO</td>
                                                        <td>_____분</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="https://www.naver.com">문제 B</a></td>
                                                        <td>이OO</td>
                                                        <td>_____분</td>
                                                    </tr>
                                                     <tr>
                                                        <td><a href="https://www.naver.com">문제 C</a></td>
                                                        <td>서OO</td>
                                                        <td>_____분</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                        </div>
                    </div>
             </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- 차트 -->
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // 챠트 종류를 선택
      type: 'line',

      // 챠트를 그릴 데이타
      data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'transparent',
          borderColor: 'red',
          data: [0, 10, 5, 2, 20, 30, 45]
        }]
      },
      // 옵션
      options: {}
    });
  </script>
            <!-- End of Main Content -->
        {% endblock content %}

