{% extends "base.html" %}
{% block page_title %}
    dashboard
{% endblock page_title %}
{% block content %}
    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
        {% include "topbar.html" %}
        <!-- End of Topbar -->
        <div class="container-fluid">

            <h2>Dashboard</h2>
                <div class="card-header py-3">
                        <div class="card-body ">
                           <div class="row align-items-center ml-5">
                                        <div class="card mb-4 mt-5 py-3 col-3">
                                            <div class="card-body">
                                                해결한 문제
                                                <a href="#" class="btn btn-success btn-circle btn-lg">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{correct_cnt}}개</div>
                                            </div>
                                        </div>

                                        <div class="card mb-4 mt-5 py-3 col-4 ml-3">
                                            <div class="card-body">
                                                    현재 랭킹
                                                    <a href="#" class="btn btn-info btn-circle btn-lg">
                                                        <i class="fa-solid fa-ranking-star"></i>
                                                    </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{user_rank}}위</div>

                                            </div>
                                        </div>

                                        <div class="card mb-4 mt-5 py-3 col-4 ml-3">
                                            <div class="card-body">
                                                    평균 문제 풀이 시간
                                                    <a href="#" class="btn btn-secondary btn-circle btn-lg">
                                                        <i class="fa-regular fa-clock"></i>
                                                    </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{solve_time_avg}}</div>

                                            </div>
                                        </div>


                                    <div class="container">
                                        <div id="graph"></div>
                                    </div>
                                    <div class="card shadow mb-4 col-12">
                                        <div class="card-header py-3">최근 해결한 문제</div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th>문제</th>
                                                        <th>출제자</th>
                                                        <th>해결 시간</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for question in recent_sovled_question %}
                                                    <tr>
                                                        <td><a href="/question/{{question.question_seq}}">{{question.question_seq.question_title}}</a></td>
                                                        <td>{{question.question_seq.question_creator.nickname}}</td>
                                                        <td>{{question.question_end_time}}</td>
                                                    </tr>
                                                    {% endfor %}
                                              
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
             </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- 차트 -->
  <py-env>
    - pandas
    - matplotlib
    - seaborn
  </py-env>
  <py-script output = 'graph'>
    
    import pandas as pd
    import seaborn as sns
    import matplotlib.pyplot as plt
    
    fig, ax = plt.subplots()
    
    data1 = [90, 80, 70, 60, 50]
    data2 = [80, 70, 90, 60, 70]
    
    plt.plot(data1, marker = 'o' , color = 'g', label = 'data1')
    plt.plot(data2, marker = '^', label = 'data2')
    plt.title('test graph')
    plt.legend()
    plt.grid(True)
    
    fig

    </py-script>
    <py-script style='display:none;'>
        from js import document, window
        e = document.getElementById("graph").firstElementChild.firstElementChild

        e.setAttribute('width', '100%')
        e.setAttribute('height', '100%')
    </py-script>
            <!-- End of Main Content -->
        {% endblock content %}
