{% extends "base.html" %}
{% block page_title %}
    overview
{% endblock page_title %}
{% block content %}
    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
        {% include "topbar.html" %}
        <!-- End of Topbar -->
        <div class="container-fluid">

            <h2>Overview</h2>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="card-body col-lg-9 p-10">
                            
                                    <div class="row align-items-center ml-5">
                                        <div class="card mb-4 mt-5 py-3 col-5">
                                            <div class="card-body">
                                                문제 생성 갯수
                                                <a href="#" class="btn btn-success btn-circle btn-lg">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{created_cnt}}개</div>
                                            </div>
                                        </div>
                                        <div class="card mb-4 mt-5 py-3 col-5 ml-3">
                                            <div class="card-body">
                                                정답률
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">In Progress</div>
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col-auto">
                                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{correct_rate}}%</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="progress progress-sm mr-2">
                                                                    <div class="progress-bar bg-info"
                                                                         role="progressbar"
                                                                         style="width: {{correct_rate}}%"
                                                                         aria-valuenow="{{correct_rate}}"
                                                                         aria-valuemin="0"
                                                                         aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center ml-5">
                                        <div class="col-9">
                                            <div>
                                                <h2 class="card-title">추천 문제</h2>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                                                <div>
                                                    <ul class="nav nav-pills">
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="/question/list"
                                                       data-bs-toggle="modal"
                                                       data-bs-target=".add-new"
                                                       class="btn btn-primary"><i class="bx bx-plus me-1"></i>View all</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  ml-5">
                                        <div class="col-10">
                                            <div class="">
                                                <div class="table-responsive">
                                                    <table class="table project-list-table table-nowrap align-middle table-borderless"
                                                           style="font-size: 12px">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">문제</th>
                                                                <th scope="col">Level</th>
                                                                <th scope="col">Rate</th>
                                                                <th scope="col">Type</th>
                                                                <th scope="col" style="width: 200px;">Save</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for question in question_list %}
                                                            <tr>
                                                                <td>
                                                                    <a href="/question/{{question.question_seq}}" class="text-body">{{question.question_title}}</a>
                                                                </td>
                                                                <td>
                                                                    {% if question.question_level == '하' %}
                                                                        <span class="badge badge-soft-success mb-0">{{question.question_level}}</span>
                                                                    {% elif question.question_level == '중' %}
                                                                        <span class="badge badge-soft-info mb-0">{{question.question_level}}</span>
                                                                    {% else %}
                                                                        <span class="badge badge-soft-danger mb-0">{{question.question_level}}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <i class="fa-solid fa-star"></i> 0.0
                                                                </td>
                                                                <td>{{question.question_lang}}</td>
                                                                <td>
                                                                    <ul class="list-inline mb-0">
                                                                        {% if question.question_save_yn == 'Y' %}
                                                                            <li class="list-inline-item">
                                                                                <a href="javascript:void(0);"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="top"
                                                                                title="save"
                                                                                class="px-2 text-primary"><i class="fa-solid fa-bookmark"></i></a>
                                                                            </li>
                                                                        {% else %}
                                                                            <li class="list-inline-item">
                                                                                <a href="javascript:void(0);"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="top"
                                                                                title="save"
                                                                                class="px-2 text-primary"><i class="fa-regular fa-bookmark"></i></a>
                                                                            </li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body col-lg-3" style="background-color:#f2ebc8;">
                                    <div class="h4 pb-2 mb-4 text-secondary border-bottom border-secondary">
                                        <h3 class="text-center">User Name</h3>
                                    </div>
                                    <div class="row h4 pb-2 mb-2 text-secondary">
                                        <div class="col-10">
                                            <h6>
                                                Reminders
                                            </h3>
                                        </div>
                                        <div class="col-2">
                                            <i class="fa-solid fa-bell"></i>
                                        </div>
                                    </div>
                                    <div class="pb-4 border-bottom border-secondary">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">00:00~00:00</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">문제 이름</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
        {% endblock content %}
